DATABASE_URL="file:../prisma/dev.db"
PORT=4000
STELLAR_NETWORK=testnet
SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
CONTRACT_ID=SET_CONTRACT_ID_AFTER_DEPLOY
XLM_SAC=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
TREASURY_PUBLIC_KEY=SET_TREASURY_PUBLIC_KEY
